@import url("https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,400;9..40,700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    font-family: "DM Sans", sans-serif;
    --dark-brown: #382314;
    --medium-brown: #93867b;
    --cream: #f8e9dd;
    --very-pale-orange: #fffaf5;
    --orange: #eb755d;
    --active: #b4dfe5;
  }
}
@layer components {
  .cart {
    @apply py-4 px-7 rounded-2xl;
  }
  .active {
    @apply bg-[#ff9580] !important;
  }
}
